<html>

<head>
    <meta class="viewport" name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue@latest"></script>

    <!-- use the latest release -->
    <script src="https://unpkg.com/vue-select@latest"></script>
    <script src="suradata.js"></script>
    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.40/css/uikit.min.css" />

    <!-- UIkit JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.40/js/uikit.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.40/js/uikit-icons.min.js"></script>
    <!--script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script-->
    <!--script src="uikit/dist/js/uikit-icons.min.js"></script-->


</head>

<body>
    <div id="app">



        <div class="uk-container">
            <div class="uk-grid">
                <div class="uk-width-1-1">
                    <fieldset class="uk-fieldset">
                        <div class="uk-margin  uk-card uk-card-default uk-card-body">
                            <label class="uk-form-label" for="form-stacked-text">Select Sura Number</label>
                            <div class="uk-form-controls">
                                <v-select label="sid" :options="options" v-model="selected_id"></v-select>
                            </div>
                        </div>

                    </fieldset>
                    <div v-if="shouldshow">
                    <table class="uk-table" >
                        <tr>
                            <th>Title:</th>
                            <td>{{title}}</td>
                        </tr>
                        <tr>
                            <th>Classification:</th>
                            <td>{{classification}}</td>
                        </tr>
                        <tr>
                            <th>Verses:</th>
                            <td>{{verses}}</td>
                        </tr>
                        <tr>
                            <th>Rukus:</th>
                            <td>{{rukus}}</td>
                        </tr>
                    </table>
                    <div class="uk-grid-small uk-child-width-expand@s uk-text-center" uk-grid>
                        <div>
                            <a href="" v-on:click.stop.prevent="previous" class="uk-icon-button uk-margin-small-left" uk-icon="chevron-left"></a>
                        </div>
                        <div>
                            <a href=""  v-on:click.stop.prevent="next" class="uk-icon-button uk-margin-small-right" uk-icon="chevron-right"></a>
                        </div>
                    </div>
                    </div>

                </div>

            </div>

        </div>
    </div>

    <script>
        Vue.component('v-select', VueSelect.VueSelect)
        var app = new Vue({
            el: '#app',
            data: {
                selected_id: '',
                current_index:0,
                title: '',
                classification: '',
                verses: '',
                rukus: '',
                showtable: false,
                options: get_suradata(),
            },

            watch: {
                selected_id: function (newval, oldval) {
                    if (newval == null) {
                        this.showtable = false;
                    }
                    else {
                        console.log(newval.sid);
                        console.log(newval.details);
                        this.showtable = true,
                        this.title = newval.details.title;
                        this.classification = newval.details.classification;
                        this.verses = newval.details.verses;
                        this.rukus = newval.details.rukus;
                        this.current_index = parseInt(newval.sid);
                    }

                }
            },
            computed: {
                shouldshow: function () {
                    return this.showtable;
                }

            },
            methods:{
                next:function(event){
                    if(this.current_index<114 && this.current_index>1){
                        console.log(this.current_index);
                        this.selected_id = this.options[this.current_index];
                    }
                },
                previous:function(event){
                    if(this.current_index<114 && this.current_index>1){
                        this.current_index-=2;
                        this.selected_id = this.options[this.current_index];
                    }
                },
            },

        })
        console.log(get_suradata());
    </script>
</body>

</html>